In [7]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [8]:
features_file = "Resources/data.csv"
features_df = pd.read_csv(features_file)
features_df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,Chevrolet,Cavalier,2004,regular unleaded,140.0,4.0,MANUAL,front wheel drive,2.0,NaN,Compact,Coupe,33,23,1385,10135
1,Toyota,ECHO,2003,regular unleaded,108.0,4.0,MANUAL,front wheel drive,2.0,NaN,Compact,Coupe,38,30,2031,10245
2,Suzuki,Swift,2001,regular unleaded,79.0,4.0,MANUAL,front wheel drive,2.0,Hatchback,Compact,2dr Hatchback,38,31,481,10299
3,Chevrolet,Cavalier,2005,regular unleaded,140.0,4.0,MANUAL,front wheel drive,2.0,NaN,Compact,Coupe,33,23,1385,10325
4,Toyota,ECHO,2004,regular unleaded,108.0,4.0,MANUAL,front wheel drive,2.0,NaN,Compact,Coupe,38,30,2031,10355

### Transform Features DataFrame

In [9]:
# Create a filtered dataframe from specific columns
#features_cols = ["License Serial Number", "Premises Name", "County ID Code"]
#features_transformed= premise_df[premise_cols].copy()

# Rename the column headers
features = features_df.rename(columns={"Make": "make", "Model": "model", "Year": "year", "Engine Fuel Type": "fuel_type",
                                                          "Engine HP": "hp",
                                                          "Engine Cylinders": "cylinders",
                                                          "Transmission Type": "transmission",
                                                          "Number of Doors": "doors",
                                                          "Vehicle Size": "size",
                                                          "Vehicle Style": "style",
                                                          "highway MPG": "mpg_highway",
                                                          "city mpg": "mpg_city",
                                                          "Driven_Wheels": "drive",
                                                          "Popularity": "popularity",
                                                        "MSRP": "msrp",
                                                          "Market Category": "category"})

# Clean the data by dropping duplicates and setting the index
#premise_transformed.drop_duplicates("id", inplace=True)
#premise_transformed.set_index("id", inplace=True)

features.head()

,make,model,year,fuel_type,hp,cylinders,transmission,drive,doors,category,size,style,mpg_highway,mpg_city,popularity,msrp
0,Chevrolet,Cavalier,2004,regular unleaded,140.0,4.0,MANUAL,front wheel drive,2.0,NaN,Compact,Coupe,33,23,1385,10135
1,Toyota,ECHO,2003,regular unleaded,108.0,4.0,MANUAL,front wheel drive,2.0,NaN,Compact,Coupe,38,30,2031,10245
2,Suzuki,Swift,2001,regular unleaded,79.0,4.0,MANUAL,front wheel drive,2.0,Hatchback,Compact,2dr Hatchback,38,31,481,10299
3,Chevrolet,Cavalier,2005,regular unleaded,140.0,4.0,MANUAL,front wheel drive,2.0,NaN,Compact,Coupe,33,23,1385,10325
4,Toyota,ECHO,2004,regular unleaded,108.0,4.0,MANUAL,front wheel drive,2.0,NaN,Compact,Coupe,38,30,2031,10355

In [14]:
features.to_csv(r'cars.csv', index=False)

### Create database connection

In [4]:
connection_string = "postgres:696969@localhost:5432/Cars_Project2"
engine = create_engine(f'postgresql://{connection_string}')

In [5]:
# Confirm tables
engine.table_names()

['features', 'emissions', 'vehicles']

### Load DataFrames into database

In [68]:
features.to_sql(name='features', con=engine, if_exists='append', index=False)
#features.to_sql(name='features', con=engine, if_exists='append', index=True)?????